@use 'mixins' as m;

.container {
    height: 100%;
    @include m.abs-centered;
    @include m.flex-col;
    justify-content: center;
}

.button {
    @include m.button;
}

.buttonLarge {
    @include m.button;
    @include m.font-large;
    padding: 1em;
    margin: 0.5em;
}

.buttonLarge:hover {
    box-shadow: 0 0 0 0.5em black;
}

.container > .buttonLarge {
    margin: 2em 0.5em;
}

#enterIdContainer {
    @include m.flex-col;
    padding: 0.5em 0em;
}

.textInput {
    border: none;
    @include m.font-large;
    margin: 0.5em 0em;
}

.textInput:focus {
    outline: none;
}