@use 'mixins' as m;

.container {
    position: relative;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
}

.popup {
    @include m.abs-centered;
    z-index: 2;

    background-color: white;
    
    padding: 0em 1em;
    border-radius: 1em;
}